certifi==2018.8.24
chardet==3.0.4
et-xmlfile==1.0.1
idna==2.7
jdcal==1.4
Jinja2==2.10
MarkupSafe==1.0
openpyxl==2.5.8
pynsist==2.1
requests==2.19.1
requests-download==0.1.2
urllib3==1.24.2
win-cli-launchers==0.1
XlsxWriter==1.1.1
yarg==0.1.9
